* {
    box-sizing: border-box;
}

body {
    background-color: #131720;
    font-family: sans-serif;
}

h1 {
    color: white;
}

h3 {
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.top-nav {
    overflow: hidden;
    background-color: #131720;
    padding: 10px;
}

.top-nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.top-nav .search-container {
    float: right;
}

form {
    background-color: #151f30;
    width: 100%;
    max-width: 210px;
    height: 43px;
    border-radius: 11px;
    display: flex;
    align-items: center;
}

p {
    color: white;
}

input {
    font: 15px system-ui;
    color: black;
    height: 100%;
    width: 100%;
    padding: 6px 12px;
}

.thumbnail {
    min-height: 420px;
    max-height: 420px;
    width: 100%;
    max-width: 300px;
    border-radius: 19px;
    object-fit: cover;
}

.column {
    float: left;
    width: 100%;
    padding: 10px 10px;
}

.card {
    border-radius: 19px;
    padding: 15px;
    text-align: center;
    background-color: #151f30;
    height: auto;
    max-height: 500px;
    max-width: 356px;
}

a {
    text-decoration: none;
    color: gray;
}

/* Media Queries for responsiveness */
@media (min-width: 600px) {
    .column {
        width: 50%;
    }
}

@media (min-width: 900px) {
    .column {
        width: 33.33%;
    }
}

@media (min-width: 1200px) {
    .column {
        width: 25%;
    }
}